* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  width: 100%;
  height: 10vh;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  background-color: red;
}
@media screen and (min-width: 770px) {
  .menu {
    height: 100%;
    flex-grow: 1;
    background-color: orange;
    display: flex;
    flex-direction: column;
  }
  .content {
    height: 100%;
    flex-grow: 7;
    background-color: green;
  }
  .menu1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu1 p {
    font-size: 24px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 480px) and (max-width: 769px) {
  .menu {
    height: 100%;
    flex-grow: 1;
    background-color: purple;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .content {
    height: 100%;
    flex-grow: 7;
    background-color: aqua;
  }
  .menu1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu1 p {
    font-size: 24px;
    margin: 0;
  }
}
@media screen and (max-width: 479px) {
  .menu {
    display: none;
  }
  .content {
    height: 100%;
    flex-grow: 7;
    background-color: aqua;
  }
  .menu1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu1 p {
    font-size: 24px;
    margin: 0;
  }
}
